# Configuration for local development
# These values are also the defaults for Docker Compose
GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE

# If using local Ollama instead, you can leave GEMINI_API_KEY empty
# and configure your Ollama model in code (switch LLM to LangChain Ollama object in app/services/llm.py):


# For connecting to a standalone ChromaDB container from local app
CHROMA_HOST=localhost
CHROMA_PORT=8001

# For local frontend to connect to local backend
BACKEND_URL=http://localhost:8000

# Enabling CORS access from frontend url
CORS_ALLOW_ORIGINS=http://localhost:8501


# ---- DATABASE (SQLite by default; Postgres-ready) ----
# If you use SQLite, you can omit all of these and set DATABASE_URL in code.
# For Postgres:
DB_USER=youruser
DB_PASSWORD=yourpassword
DB_NAME=yourdatabase
DB_HOST=localhost

# ----------- PROXY (optional) -------------
PROXY_URL=