# directories
/data
/app/chroma_db

# macOS Finder metadata
.DS_Store

# vector db
chess_chroma_db/

transcript_cache/
summary_cache/

# trialling files
chromadb-test.ipynb
youtube_RAG.ipynb
random_test_scripts/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# log files
*.log

# Environment folders
/.venv
__pycache__/

# 
.vscode

# Secret environment variables
.env

# Demo data backup
demo_data_backup.sql
.sql

# Original docker-compose
docker-compose-OG.yml

# YT transcript loader test scripts
test_community_loader.py
test_direct_dlp.py
test_loader.py
test_youtube_transcript.py
check_config.py

